<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form v-on:submit.prevent=" guardarDocentes" data-action="nuevo" data-iddocentes="" method="get" id="formularioDocentes">
        <div class="card bg-info" style="max-width: 24rem;">
            <div class="card-header text-center">
             Mantenimiento Docentes
             <button type="button" id="close-Docentes" class="close close-Docentes" aria-label="close">
                <span arial-hidden="true">&times;</span>


             </button>
            </div>
            <div class="card-body">
              <div class="row p-2">
                  <div class="col-4">codigo</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="docentes.codigo" id="txtcodigodocente" placeholder="codigo" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">nombre</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="docentes.nombre" placeholder="nombre" class="form-control" id="txtnombredocente">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">direccion</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="docentes.direccion" placeholder="direccion" class="form-control" id="txtdirecciondocente">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">telefono</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="docentes.telefono" placeholder="telefono" class="form-control" id="txttelefonodocente">
                  </div>
              </div>
              <div class="row p-2">
                <div class="col-4">NIT</div>
                <div class="col-8">
                    <input type="text" name="" v-model="docentes.NIT" placeholder="NIT" class="form-control" id="txtnitdocente">
                </div>
            </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                      <input type="submit" value="guardar"  class="btn btn-outline-primary text-white">
                      <input type="reset" value="limpiar" class="btn btn-outline-warning text-white">
                      <input V-on:click="buscarDocentes" type="button" value="buscar" id="btnbuscar-docente" class="btn btn-outline-success mostrar-buscardocente text-white" data-modulo="Docentes" data-form="buscar-docente">
                

                  </div>
                  
              </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                    <div class="alert alert-success" role="alert">
                        {{  docentes.msg    }}
                    </div>
                  </div>
                 
              </div>

            </div>
          </div>
    </form>
    <script src="Public/Vistas/Docentes/Docentes.js"></script>
</body>
</html>