<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <form data-action="nuevo" v-on:submit.prevent="guardarAlumno" data-idalumno="" method="get" id="formularioAlumno">
        <div class="card bg-info" style="max-width: 24rem;">
            <div class="card-header text-center">
             Mantenimiento Alumnos

             <button type="button" id="close-Alumnos" class="close close-Alumnos" aria-label="close">
                <span arial-hidden="true">&times;</span>


             </button>
            </div>
            <div class="card-body">
              <div class="row p-2">
                  <div class="col-4">codigo</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="alumno.codigo" id="txtcodigoalumnos" placeholder="codigo" class="form-control">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">nombre</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="alumno.nombre" placeholder="nombre" class="form-control" id="txtnombreaslumno">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">direccion</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="alumno.direccion" placeholder="direccion" class="form-control" id="txtdireccionalumno">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-4">telefono</div>
                  <div class="col-8">
                      <input type="text" name="" v-model="alumno.telefono" placeholder="telefono" class="form-control" id="txttelefonoalumno">
                  </div>
              </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                      <input type="submit" value="guardar"  class="btn btn-outline-primary text-white">
                      <input type="reset" value="limpiar" class="btn btn-outline-warning text-white">
                      <input type="button" v-on:click="buscarAlumno" value="buscar" id="btnbuscar-alumnos" class="btn btn-outline-success mostrar-buscaralumno text-white" data-modulo="Alumnos" data-form="buscar-alumno">
                      


                  </div>
                  
              </div>
              <div class="row p-2">
                  <div class="col-12 text-center">
                      <div class="alert alert-success" role="alert">
                          {{alumno.msg}}
                      </div>
            
                  </div>
                 
              </div>

            </div>
          </div>
    </form>
    
    <script src="Public/Vistas/Alumnos/Alumnos.js"></script>
</body>
</html>